body {
 background-color: #fff;
 font-family: Lucida Grande, Verdana, Sans-serif;
 font-size: 14px;
 color: #4F5155;
}

a {
 color: #003399;
 background-color: transparent;
 font-weight: normal;
}

h1, h2, h3 {
 color: #444;
 background-color: transparent;
 font-weight: bold;
 margin: 5px 0 2px 0;
 padding: 5px 0 5px 0;
}

h1 {
 font-size: 18px;
 border-bottom: 1px solid #D0D0D0;
}

h2 {
 font-size: 16px;
 border-bottom: 1px solid #D0D0D0;
}

h3 {
 font-size: 14px;
}

.menu {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
}

.submenu {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 color: #002166;
 display: block;
}

.tiny{ font-size: 10px;font-weight: normal;}

img{border:none;}

table.admin_table{width:100%;}
table.admin_table tr{background-color:#F5F5F5;}
table.admin_table tr:hover{background-color:#FFFFE0;}
table.admin_table th{background-color:#DCDCDC;}
table.admin_table td.end{border:none;}
table.admin_table td img:hover{background-color:#98FB98;}

form.simpleForm label{width:35%;float:left;clear:both;font-weight:bold;margin-bottom:20px}
form.simpleForm input, form.simpleForm textarea, form.simpleForm select{width:60%;float:right;margin-bottom:20px}














.ci_container_fluid{width: 92%;margin-left: 4%;margin-right: 4%;clear:both;}
.ci_container_960{width: 960px;margin-left: auto;margin-right: auto;clear:both;}

div[class|="ci_col"]{float:left;display:inline;margin-right:1%;margin-left:1%;}
.ci_col-1of1, .ci_col-2of2, .ci_col-3of3, .ci_col-4of4, .ci_col-5of5, .ci_col-6of6, .ci_col-8of8, .ci_col-10of10, .ci_col-12of12, .ci_col-15of15, .ci_col-16of16, .ci_col-20of20, .ci_col-24of24{width:98%;}
.ci_col-1of2, .ci_col-2of4, .ci_col-3of6, .ci_col-4of8, .ci_col-5of10, .ci_col-6of12, .ci_col-8of16, .ci_col-10of20, .ci_col-12of24{width:48%;}
.ci_col-1of3, .ci_col-2of6, .ci_col-4of12, .ci_col-5of15, .ci_col-8of24{width:31.333%;}
.ci_col-2of3, .ci_col-4of6, .ci_col-8of12, .ci_col-10of15, .ci_col-16of24{width:64.666%;}
.ci_col-1of4, .ci_col-2of8, .ci_col-3of12, .ci_col-4of16, .ci_col-5of20, .ci_col-6of24{width:23%;}
.ci_col-3of4, .ci_col-6of8, .ci_col-9of12, .ci_col-12of16, .ci_col-15of20, .ci_col-18of24{width:73%;}
.ci_col-1of5, .ci_col-2of10, .ci_col-3of15, .ci_col-4of20{width:18%;}
.ci_col-2of5, .ci_col-4of10, .ci_col-6of15, .ci_col-8of20{width:38%;}
.ci_col-3of5, .ci_col-6of10, .ci_col-9of15, .ci_col-12of20{width:58%;}
.ci_col-4of5, .ci_col-8of10, .ci_col-12of15, .ci_col-16of20{width:78%;}
.ci_col-1of6, .ci_col-2of12, .ci_col-4of24{width:14.666%;}
.ci_col-5of6, .ci_col-10of12, .ci_col-20of24{width:81.333%;}
.ci_col-1of8, .ci_col-2of16, .ci_col-3of24{width:10.5%;}
.ci_col-3of8, .ci_col-6of16, .ci_col-9of24{width:35.5%}
.ci_col-5of8, .ci_col-10of16, .ci_col-15of24{width:60.5%;}
.ci_col-7of8, .ci_col-14of16, .ci_col-21of24{width:85.5%;}
.ci_col-1of10, .ci_col-2of20{width:8%;}
.ci_col-3of10, .ci_col-6of20{width:28%;}
.ci_col-7of10, .ci_col-14of20{width:68%;}
.ci_col-9of10, .ci_col-18of20{width:88%;}
.ci_col-1of12, .ci_col-2of24{width:6.333%;}
.ci_col-5of12, .ci_col-10of24{width:39.666%;}
.ci_col-7of12, .ci_col-14of24{width:56.333%;}
.ci_col-11of12, .ci_col-22of24{width:89.666%;}
.ci_col-1of15{width:4.666%;}
.ci_col-2of15{width:11.333%;}
.ci_col-4of15{width:24.666%;}
.ci_col-7of15{width:44.666%;}
.ci_col-8of15{width:51.333%;}
.ci_col-11of15{width:71.333%;}
.ci_col-13of15{width:84.666%;}
.ci_col-14of15{width:91.333%;}
.ci_col-1of16{width:4.25%;}
.ci_col-3of16{width:16.75%;}
.ci_col-5of16{width:29.25%;}
.ci_col-7of16{width:41.75%;}
.ci_col-9of16{width:54.25%;}
.ci_col-11of16{width:66.75%;}
.ci_col-13of16{width:79.25%;}
.ci_col-15of16{width:91.75%;}
.ci_col-1of20{width:3%;}
.ci_col-3of20{width:13%;}
.ci_col-7of20{width:33%;}
.ci_col-9of20{width:43%;}
.ci_col-11of20{width:53%;}
.ci_col-13of20{width:63%;}
.ci_col-17of20{width:83%;}
.ci_col-19of20{width:93%;}
.ci_col-1of24{width:2.166%;}
.ci_col-5of24{width:18.833%;}
.ci_col-7of24{width:27.166%;}
.ci_col-11of24{width:43.833%;}
.ci_col-13of24{width:52.166%;}
.ci_col-15of24{width:60.5%;}
.ci_col-17of24{width:68.833%;}
.ci_col-19of24{width:77.166%;}
.ci_col-23of24{width:93.833%;}

.ci_first{clear:left;}

.ci_top{margin-top:1%;}
.ci_bottom{margin-bottom:1%;}